{% extends 'base.html' %} {% load static %} {% block contenido %}
<head>
  <link rel="stylesheet" href="{% static './css/main.css' %}" />
</head>
<div class="col-lg-12" id="SistemasDI">
    <h1>Sistemas numéricos con dos incógnitas</h1>
    <h2>Definición:</h2>
    <h3>
      Un sistema con dos incógnitas está compuesto
      por dos variables, que normalmente son x e y.
    </h3>
    <h2>Ejemplo:</h2>
    <center>
      <img
        class="img-fluid rounded-circle"
        src="{% static 'images/imgU1AL/epgd1.JPG' %}"
        width="225"
      />
    </center>
    <h3>
      Despejamos una de las incógnitas en una de las dos ecuaciones. Elegimos la
      incógnita que tenga el coeficiente más bajo.
    </h3>
    <br />
    <center>
      <img
        class="img-fluid rounded-circle"
        src="{% static 'images/imgU1AL/epgd2.JPG' %}"
        width="350"
      />
    </center>
    <h3>Sustituimos en la otra ecuación la variable x, por el valor anterior:</h3>
    <br />
    <center>
      <img
        class="img-fluid rounded-circle"
        src="{% static 'images/imgU1AL/epgd3.JPG' %}"
        width="250"
      />
    </center>
    <h3>Resolvemos la ecuación obtenida lo cual da como resultado en y:</h3>
    <br />
    <center>
      <img
        class="img-fluid rounded-circle"
        src="{% static 'images/imgU1AL/epgd4.JPG' %}"
        width="85"
      />
    </center>
    <h3>Sustituimos el valor obtenido en la variable despejada:</h3>
    <br />
    <center>
      <img
        class="img-fluid rounded-circle"
        src="{% static 'images/imgU1AL/epgd5.JPG' %}"
        width="250"
      />
    </center>
    <h3>Solución:</h3>
    <br />
    <center>
      <img
        class="img-fluid rounded-circle"
        src="{% static 'images/imgU1AL/epgd6.JPG' %}"
        width="190"
      />
    </center>
  </div>
{% endblock %}
