{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<head>
    <link rel="stylesheet" href="{% static './css/main.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/sweetswal2@10"></script>
    <script>
        function resultado() {
            if (document.getElementById('p11').checked == true) { p1 = 1 }
            else { p1 = 0 }
            nota = p1;

            if (p1 == 1) {
                swal(" CORRECTO");
            }
            else {
                swal(" RESPUESTA INCORRECTA");
            }
         
        }
        function uno() {
            if (document.getElementById('p27').checked == true) { p1 = 1 }
            else { p1 = 0 }
            nota = p1;

            if (p1 == 1) {
                swal(" CORRECTO");
            }
            else {
                swal(" RESPUESTA INCORRECTA");
            }
         
        }

        function sumados() {
            if (document.getElementById('p3').checked == true) { p1 = 1 }
            else { p1 = 0 }
            nota = p1;

            if (p1 == 1) {
                swal(" CORRECTO");
            }
            else {
                swal(" RESPUESTA INCORRECTA");
            }
         
        }
        function sumados2() {
            if (document.getElementById('p36').checked == true) { p1 = 1 }
            else { p1 = 0 }
            nota = p1;

            if (p1 == 1) {
                swal(" CORRECTO");
            }
            else {
                swal(" RESPUESTA INCORRECTA");
            }
         
        }
        
        function sumados22() {
            if (document.getElementById('p31').checked == true) { p1 = 1 }
            else { p1 = 0 }
            nota = p1;

            if (p1 == 1) {
                swal(" CORRECTO");
            }
            else {
                swal(" RESPUESTA INCORRECTA");
            }
         
        }

        function tres() {
            if (document.getElementById('p25').checked == true) { p1 = 1 }
            else { p1 = 0 }
            nota = p1;

            if (p1 == 1) {
                swal(" CORRECTO");
            }
            else {
                swal(" RESPUESTA INCORRECTA");
            }
            
         
        }        

        function trestres() {
            if (document.getElementById('p41').checked == true) { p1 = 1 }
            else { p1 = 0 }
            nota = p1;

            if (p1 == 1) {
                swal(" CORRECTO");
            }
            else {
                swal(" RESPUESTA INCORRECTA");
            }
            
         
        } 
        function dos() {
            if (document.getElementById('p6').checked == true) { p1 = 1 }
            else { p1 = 0 }
            nota = p1;

            if (p1 == 1) {
                swal(" CORRECTO");
            }
            else {
                swal(" RESPUESTA INCORRECTA");
            }
         
        }
        
        function cuatro() {
            if (document.getElementById('p18').checked == true) { p1 = 1 }
            else { p1 = 0 }
            nota = p1;

            if (p1 == 1) {
                swal(" CORRECTO");
            }
            else {
                swal(" RESPUESTA INCORRECTA");
            }
         
        }
        function cuatro2() {
            if (document.getElementById('p22').checked == true) { p1 = 1 }
            else { p1 = 0 }
            nota = p1;

            if (p1 == 1) {
                swal(" CORRECTO");
            }
            else {
                swal(" RESPUESTA INCORRECTA");
            }
         
        }

    </script>


</head>
<a href="#divpolpormon" class="btn btn-danger btn-lg">División de un Polinomio por un Monomio</a>
<a href="#divpol" class="btn btn-danger btn-lg">División de Polinomios</a>


<div class="col-lg-12" id="divpolpormon">
    <br />

    <br />
    <h1>División de un Polinomio por un Monomio</h1>
    <h2>Ejercicios</h2>

    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
                <center>
                <img class="img-fluid rounded-circle" src="{% static 'images/ejercicios/40.png' %}" />
                <form style="font:normal 16px sans-serif">
                    <p>Selecciona la Respuesta Correcta</p>
                   <input type="radio" name="pregunta1" id="p27">  <img class="img-fluid rounded-circle" src="{% static 'images/ejercicios/41.png' %}" /></p>
                    <input type="radio" name="pregunta1" id="p28">  <img class="img-fluid rounded-circle" src="{% static 'images/ejercicios/42.png' %}" /></p>
                    <input type="radio" name="pregunta1" id="p29">  <img class="img-fluid rounded-circle" src="{% static 'images/ejercicios/43.png' %}" /></p>
                    <input type="radio" name="pregunta1" id="p30">  <img class="img-fluid rounded-circle" src="{% static 'images/ejercicios/44.png' %}" /></p>
                    <p><input style="color: #e0e4e9; background-color: #0e0681" type="button" value=" R E S U L T A D O " onclick='uno()' /></p>
                </form>
                </center>
            </div>
          </div>
        </div>


        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <center>
                <img class="img-fluid rounded-circle" src="{% static 'images/ejercicios/50.png' %}" />
                <form style="font:normal 16px sans-serif">
                    <p>Selecciona la Respuesta Correcta</p>
                    <input type="radio" name="pregunta1" id="p31">  <img class="img-fluid rounded-circle" src="{% static 'images/ejercicios/52.png' %}" /></p>
                    <input type="radio" name="pregunta1" id="p32">  <img class="img-fluid rounded-circle" src="{% static 'images/ejercicios/51.png' %}" /></p>
                    <input type="radio" name="pregunta1" id="p33">  <img class="img-fluid rounded-circle" src="{% static 'images/ejercicios/53.png' %}" /></p>
                    <input type="radio" name="pregunta1" id="p34">  <img class="img-fluid rounded-circle" src="{% static 'images/ejercicios/54.png' %}" /></p>
                    <p><input style="color: #e0e4e9; background-color: #0e0681" type="button"   value=" R E S U L T A D O " onclick='sumados22()' /></p>
                </form>
              </center>
            </div>
          </div>
        </div>
      </div>
    </br />
  </br />
  </br />
  </br />
</div>

<div class="col-lg-12" id="divpol">
  <h1>División de Polinomios</h1>
  <br>
  <br>

  <h2>Ejercicios</h2>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
          <center>
          <img class="img-fluid rounded-circle" src="{% static 'images/ejercicios/60.png' %}" />
          <form style="font:normal 16px sans-serif">
              <p>Selecciona la Respuesta Correcta</p>
              <input type="radio" name="pregunta1" id="p35">  <img class="img-fluid rounded-circle" src="{% static 'images/ejercicios/61.png' %}" /></p>
              <input type="radio" name="pregunta1" id="p36">  <img class="img-fluid rounded-circle" src="{% static 'images/ejercicios/64.png' %}" /></p>
              <input type="radio" name="pregunta1" id="p37">  <img class="img-fluid rounded-circle" src="{% static 'images/ejercicios/63.png' %}" /></p>
              <input type="radio" name="pregunta1" id="p38">  <img class="img-fluid rounded-circle" src="{% static 'images/ejercicios/62.png' %}" /></p>
              <p><input style="color: #e0e4e9; background-color: #0e0681" type="button"   value=" R E S U L T A D O " onclick='sumados2()' /></p>
          </form>
        </center>
      </div>
    </div>
  </div>


      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
              <center>
                <width=“15”> <img class="img-fluid rounded-circle"  src="{% static 'images/ejercicios/70.png' %}"  width="400" height="100" /> 
              <form style="font:normal 16px sans-serif">
                  <p>Selecciona la Respuesta Correcta</p>
                  <input type="radio" name="pregunta2" id="p39"> <img class="img-fluid rounded-circle"  src="{% static 'images/ejercicios/71.png' %}" /></p>
                <input type="radio" name="pregunta2" id="p40"> <img class="img-fluid rounded-circle"  src="{% static 'images/ejercicios/72.png' %}" /></p>
                  <input type="radio" name="pregunta2" id="p41"> <img class="img-fluid rounded-circle"   src="{% static 'images/ejercicios/73.png' %}" /></p>
                  <input type="radio" name="pregunta2" id="p42"> <img class="img-fluid rounded-circle"  src="{% static 'images/ejercicios/74.png' %}" /></p>
                  <p><input style="color: #e0e4e9; background-color: #0e0681" type="button"   value=" R E S U L T A D O " onclick='trestres()' /></p>
              </form>
            </center>
          </div>
        </div>
      </div>
    </div>

</div>

{% endblock %}