{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<head>
  <link rel="stylesheet" href="{% static './css/main.css' %}" />
  <script src="https://cdn.jsdelivr.net/npm/sweetswal2@10"></script>
  <script>

    function resultadoEcuacion1() {
            var respuestaCorrecta = 'R1';
            var seleccionado = document.querySelector('input[name="R1"]:checked');
            let formCC1 = document.getElementById("formCC1");

            if (seleccionado && seleccionado.id === respuestaCorrecta) {
                swal("CORRECTO");
                seleccionado.checked = false; // Desseleccionar la opción seleccionada
            } else {
                for (let index = 0; index < formCC1.childElementCount - 1; index++) {
                    if (formCC1.children[index].firstElementChild) {
                      formCC1.children[index].firstElementChild.checked = false;
                    }
                }
                swal("RESPUESTA INCORRECTA");
            }
        }


    function resultadoEcuacion2() {
            var respuestaCorrecta = 'R2';
            var seleccionado = document.querySelector('input[name="R2"]:checked');
            let formCC2 = document.getElementById("formCC2");

            if (seleccionado && seleccionado.id === respuestaCorrecta) {
                swal("CORRECTO");
                seleccionado.checked = false; // Desseleccionar la opción seleccionada
            } else {
                for (let index = 0; index < formCC2.childElementCount - 1; index++) {
                    if (formCC2.children[index].firstElementChild) {
                      formCC2.children[index].firstElementChild.checked = false;
                    }
                }
                swal("RESPUESTA INCORRECTA");
            }
        }


    function resultadoEcuacion3() {
            var respuestaCorrecta = 'R3';
            var seleccionado = document.querySelector('input[name="R3"]:checked');
            let formPC1 = document.getElementById("formPC1");

            if (seleccionado && seleccionado.id === respuestaCorrecta) {
                swal("CORRECTO");
                seleccionado.checked = false; // Desseleccionar la opción seleccionada
            } else {
                for (let index = 0; index < formPC1.childElementCount - 1; index++) {
                    if (formPC1.children[index].firstElementChild) {
                      formPC1.children[index].firstElementChild.checked = false;
                    }
                }
                swal("RESPUESTA INCORRECTA");
            }
        }


    function resultadoEcuacion4() {
            var respuestaCorrecta = 'R2';
            var seleccionado = document.querySelector('input[name="R2"]:checked');
            let formPC2 = document.getElementById("formPC2");

            if (seleccionado && seleccionado.id === respuestaCorrecta) {
                swal("CORRECTO");
                seleccionado.checked = false; // Desseleccionar la opción seleccionada
            } else {
                for (let index = 0; index < formPC2.childElementCount - 1; index++) {
                    if (formPC2.children[index].firstElementChild) {
                      formPC2.children[index].firstElementChild.checked = false;
                    }
                }
                swal("RESPUESTA INCORRECTA");
            }
        }

  </script>

</head>

<a href="#Ecuaciones enteras de primer grado con una incógnita" class="btn btn-danger btn-lg">Ecuaciones enteras de primer grado con una incógnita</a>
<a href="#Ecuaciones enteras de primer grado con producto continuado" class="btn btn-danger btn-lg">Ecuaciones enteras de primer grado con producto continuado</a>
<div>
    <h1 id="Ecuaciones enteras de primer grado con una incógnita">Ecuaciones enteras de primer grado con una incógnita</h1>
    <br>
    <br>
    <h2>Ejercicios</h2>

    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <center>
              <img width="400" class="img-fluid rounded-circle" src="{% static 'images/imgU1/CCEj1.png' %}" />
              <form id = "formCC1" style="font:normal 16px sans-serif">
                <p>Selecciona la Respuesta Correcta</p>
                <p>
                  <input type="radio" name="R1" id="R1" /> <img class="img-fluid rounded-circle"
                    src="{% static 'images/imgU1/CCEj1Rc.png' %}" width="60" />
                </p>
                <p>
                  <input type="radio" name="R2" id="R2" /> <img class="img-fluid rounded-circle"
                    src="{% static 'images/imgU1/CCEj1Ra.png' %}" width="65" />
                </p>
                <p>
                  <input type="radio" name="R3" id="R3" /> <img class="img-fluid rounded-circle"
                    src="{% static 'images/imgU1/CCEj1Rb.png' %}" width="75" />
                </p>
                <p><input style="color: #e0e4e9; background-color: #0e0681" type="button" value=" R E S U L T A D O " onclick='resultadoEcuacion1()' /></p>
              </form>
            </center>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
              <div class="card-body">
                <center>
                  <img width="400" class="img-fluid rounded-circle" src="{% static 'images/imgU1/CCEj2.png' %}" width="550"/>
                  <form id= "formCC2" style="font:normal 16px sans-serif">
                    <p>Selecciona la Respuesta Correcta</p>
                    <p>
                      <input type="radio" name="R1" id="R1" /> <img class="img-fluid rounded-circle"
                      src="{% static 'images/imgU1/CCEj1Rc.png' %}" width="60" />
                    </p>
                    <p>
                      <input type="radio" name="R2" id="R2" /> <img class="img-fluid rounded-circle"
                      src="{% static 'images/imgU1/CCEj2Rc.png' %}" width="60" />
                    </p>
                    <p>
                      <input type="radio" name="R3" id="R3" /> <img class="img-fluid rounded-circle"
                        src="{% static 'images/imgU1/CCEj1Ra.png' %}" width="65" />
                    </p>
                    <p><input style="color: #e0e4e9; background-color: #0e0681" type="button" value=" R E S U L T A D O " onclick='resultadoEcuacion2()' /></p>
                  </form>
                </center>
              </div>
            </div>
          </div>
  </div>
  <br />
  <br />
  <br />
  <br />
</div>

{% comment %} Sección 2 {% endcomment %}

<div>
    <h1 id="Ecuaciones enteras de primer grado con producto continuado">Ecuaciones enteras de primer grado con producto continuado</h1>
    <br>
    <br>
    <h2>Ejercicios</h2>

    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <center>
              <img width="400" class="img-fluid rounded-circle" src="{% static 'images/imgU1/PCEj2.png' %}" />
              <form id = "formPC1" style="font:normal 16px sans-serif">
                <p>Selecciona la Respuesta Correcta</p>
                <p>
                  <input type="radio" name="R1" id="R1" /> <img class="img-fluid rounded-circle"
                    src="{% static 'images/imgU1/PCEj1Rb.png' %}" width="150" />
                </p>
                <p>
                  <input type="radio" name="R2" id="R2" /> <img class="img-fluid rounded-circle"
                    src="{% static 'images/imgU1/PCEj1Ra.png' %}" width="150" />
                </p>
                <p>
                  <input type="radio" name="R3" id="R3" /> <img class="img-fluid rounded-circle"
                    src="{% static 'images/imgU1/PCEj1Rc.png' %}" width="150" />
                </p>
                <p><input style="color: #e0e4e9; background-color: #0e0681" type="button" value=" R E S U L T A D O " onclick='resultadoEcuacion3()' /></p>
              </form>
            </center>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
              <div class="card-body">
                <center>
                  <img width="400" class="img-fluid rounded-circle" src="{% static 'images/imgU1/PCEj2.png' %}" width="550"/>
                  <form id= "formPC2" style="font:normal 16px sans-serif">
                    <p>Selecciona la Respuesta Correcta</p>
                    <p>
                      <input type="radio" name="R1" id="R1" /> <img class="img-fluid rounded-circle"
                      src="{% static 'images/imgU1/PCEj1Rc.png' %}" width="150" />
                    </p>
                    <p>
                      <input type="radio" name="R2" id="R2" /> <img class="img-fluid rounded-circle"
                      src="{% static 'images/imgU1/PCEj2Rc.png' %}" width="150" />
                    </p>
                    <p>
                      <input type="radio" name="R3" id="R3" /> <img class="img-fluid rounded-circle"
                        src="{% static 'images/imgU1/PCEj1Ra.png' %}" width="150" />
                    </p>
                    <p><input style="color: #e0e4e9; background-color: #0e0681" type="button" value=" R E S U L T A D O " onclick='resultadoEcuacion4()' /></p>
                  </form>
                </center>
              </div>
            </div>
          </div>
  </div>
  <br />
  <br />
  <br />
  <br />
</div>
    {% endblock %}