{% extends 'base.html' %} 
{% load static %}
{% block contenido %}

<!-- home -->
    <!-- Content page -->
    <div class="container-fluid">
        <div class="page-header">
          <h1 class="text-titles">Matemática Comercial <small> Perito Contador y Secretariado Oficinista</small> </h1> 
        </div>
    </div>

    <div class="full-box text-center" style="padding: 30px 30px;">
        <div class="list-groupUnidad" >
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
              UNIDAD I
            </a>
            <a href="{% url 'matecomercial:fraccionesej'%}" class="list-group-item list-group-item-action">Operaciones Con Fracciones</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Adición</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Sustracción</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Multiplicación</a>
            <a href="#" class="list-group-item list-group-item-action disabled">División</a>
            
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
              UNIDAD II
            </a>
            <a href="{% url 'matecomercial:proporcionalidadej'%}" class="list-group-item list-group-item-action">Proporcionalidad</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Regla de 3 Simple Directa e Inversa</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Regla de 3 Compuesta</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Regla de 3 Conjunta</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Reparto Proporcional Directo e Inverso </a>

            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
              UNIDAD III
            </a>
            <a href="{% url 'matecomercial:sociedadesej'%}" class="list-group-item list-group-item-action ">Regla de Sociedades</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Regla de sociedades: simple, compuesta y en la que alteran los capitales</a>
            <a href="{% url 'matecomercial:aligacionesej'%}"class="list-group-item list-group-item-action ">Aligación</a>
            <a href="{% url 'matecomercial:aleacionesej'%}"class="list-group-item list-group-item-action ">Aleaciones</a>

            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
              UNIDAD IV
            </a>
            <a href="{% url 'matecomercial:porcientoej'%}" class="list-group-item list-group-item-action ">Tanto por Ciento</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Operaciones Básicas del Tanto por Ciento </a>
            <a href="#" class="list-group-item list-group-item-action disabled">Conversión del porcentaje a fracción común</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Conversión de un decimal a un número entero por ciento</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Conversión de fracción común a un porcentaje</a>
         
          </div>
    </div>


{% endblock %}