{% extends 'base.html' %} {% load static %} {% block contenido %}
<head>
  <link rel="stylesheet" href="{% static './css/main.css' %}" />
  <script src="https://cdn.jsdelivr.net/npm/sweetswal2@10"></script>
  <script>
    function menor1() {
      if (document.getElementById("p11").checked == true) {
        p1 = 1;
      } else {
        p1 = 0;
      }
      nota = p1;

      if (p1 == 1) {
        swal(" CORRECTO");
      } else {
        swal(" RESPUESTA INCORRECTA");
      }
    }
    function menor2() {
      if (document.getElementById("p14").checked == true) {
        p1 = 1;
      } else {
        p1 = 0;
      }
      nota = p1;

      if (p1 == 1) {
        swal(" CORRECTO");
      } else {
        swal(" RESPUESTA INCORRECTA");
      }
    }
    function cofactor1() {
      if (document.getElementById("p21").checked == true) {
        p1 = 1;
      } else {
        p1 = 0;
      }
      nota = p1;

      if (p1 == 1) {
        swal(" CORRECTO");
      } else {
        swal(" RESPUESTA INCORRECTA");
      }
    }
    function cofactor2() {
      if (document.getElementById("p33").checked == true) {
        p1 = 1;
      } else {
        p1 = 0;
      }
      nota = p1;

      if (p1 == 1) {
        swal(" CORRECTO");
      } else {
        swal(" RESPUESTA INCORRECTA");
      }
    }
  </script>
</head>
<a href="#Menor" class="btn btn-danger btn-lg">Menor</a>
<a href="#Cofactor" class="btn btn-danger btn-lg">Cofactor</a>

  <div class="col-lg-12" id="Menor">
    <br />
    <br />
    <h1>Menor</h1>
    <br />
    <br />
  
    <h2>Ejercicios</h2>
  
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <center>
              <img
                class="img-fluid rounded-circle"
                src="{% static 'images/imgU3EAL/ejerciciomenor1.JPG' %}"
                width="250"
              />
              <br>
              <br>
              <form style="font: normal 16px sans-serif">
                <p>Selecciona la Respuesta Correcta</p>
                <p>
                  <input type="radio" name="pregunta1" id="p9" /> <img
                  class="img-fluid rounded-circle"
                  src="{% static 'images/imgU3EAL/respuestafalsamenor1.JPG' %}"
                  width="135"
                </p>
                <p>
                  <input type="radio" name="pregunta1" id="p10" /> <img
                  class="img-fluid rounded-circle"
                  src="{% static 'images/imgU3EAL/respuestafalsmenor1.JPG' %}"
                  width="135"
                </p>
                <p>
                  <input type="radio" name="pregunta1" id="p11" /> <img
                  class="img-fluid rounded-circle"
                  src="{% static 'images/imgU3EAL/respuestaejerciciomenor1.JPG' %}"
                  width="135"
                </p>
                <p>
                  <input type="radio" name="pregunta1" id="p12" /> <img
                  class="img-fluid rounded-circle"
                  src="{% static 'images/imgU3EAL/respuestafalmenor1.JPG' %}"
                  width="135"
                </p>
                <br>
                <br>
                <p>
                  <input
                    style="color: #e0e4e9; background-color: #0e0681"
                    type="button"
                    value=" R E S U L T A D O "
                    onclick="menor1()"
                  />
                </p>
              </form>
            </center>
          </div>
        </div>
      </div>
  
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <center>
              <img
                class="img-fluid rounded-circle"
                src="{% static 'images/imgU3EAL/ejerciciomenor2.JPG' %}"
                width="270"
              />
              <br>
              <br>
              <form style="font: normal 16px sans-serif">
                <p>Selecciona la Respuesta Correcta</p>
                <p>
                  <input type="radio" name="pregunta2" id="p13" /> <img
                  class="img-fluid rounded-circle"
                  src="{% static 'images/imgU3EAL/respuestafalsamenor2.JPG' %}"
                  width="142"
                />
                </p>
                <p>
                  <input type="radio" name="pregunta2" id="p14" /> <img
                  class="img-fluid rounded-circle"
                  src="{% static 'images/imgU3EAL/respuestaejerciciomenor2.JPG' %}"
                  width="142"
                />
                </p>
                <p>
                  <input type="radio" name="pregunta2" id="p15" /> <img
                  class="img-fluid rounded-circle"
                  src="{% static 'images/imgU3EAL/respuestafalsmenor2.JPG' %}"
                  width="142"
                />
                </p>
                <p>
                  <input type="radio" name="pregunta2" id="p16" /> <img
                  class="img-fluid rounded-circle"
                  src="{% static 'images/imgU3EAL/respuestafalmenor2.JPG' %}"
                  width="142"
                />
                </p>
                <br>
                <p>
                  <input
                    style="color: #e0e4e9; background-color: #0e0681"
                    type="button"
                    value=" R E S U L T A D O "
                    onclick="menor2()"
                  />
                </p>
              </form>
            </center>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
  </div>
  <div class="col-lg-12" id="Cofactor">
    <br />
    <br />
    <h1>Cofactor</h1>
    <br />
    <br />
  
    <h2>Ejercicios</h2>
  
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <center>
              <img
                class="img-fluid rounded-circle"
                src="{% static 'images/imgU3EAL/ejerciciocofactor1.JPG' %}"
                width="250"
              />
              <br>
              <br>
              <form style="font: normal 16px sans-serif">
                <p>Selecciona la Respuesta Correcta</p>
                <p>
                  <input type="radio" name="pregunta1" id="p21" /> <img
                  class="img-fluid rounded-circle"
                  src="{% static 'images/imgU3EAL/respuestacofactor1.JPG' %}"
                  width="135"
                </p>
                <p>
                  <input type="radio" name="pregunta1" id="p22" /> <img
                  class="img-fluid rounded-circle"
                  src="{% static 'images/imgU3EAL/respuestafalsmenor1.JPG' %}"
                  width="135"
                </p>
                <p>
                  <input type="radio" name="pregunta1" id="p23" /> <img
                  class="img-fluid rounded-circle"
                  src="{% static 'images/imgU3EAL/respuestaejerciciomenor1.JPG' %}"
                  width="135"
                </p>
                <p>
                  <input type="radio" name="pregunta1" id="p24" /> <img
                  class="img-fluid rounded-circle"
                  src="{% static 'images/imgU3EAL/respuestafalsamenor1.JPG' %}"
                  width="135"
                </p>
                <p>
                  <input
                    style="color: #e0e4e9; background-color: #0e0681"
                    type="button"
                    value=" R E S U L T A D O "
                    onclick="cofactor1()"
                  />
                </p>
              </form>
            </center>
          </div>
        </div>
      </div>
  
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <center>
              <img
                class="img-fluid rounded-circle"
                src="{% static 'images/imgU3EAL/ejerciciocofactor2.JPG' %}"
                width="250"
              />
              <br>
              <br>
              <form style="font: normal 16px sans-serif">
                <p>Selecciona la Respuesta Correcta</p>
                <p>
                  <input type="radio" name="pregunta2" id="p30" /> <img
                  class="img-fluid rounded-circle"
                  src="{% static 'images/imgU3EAL/respuestafalsamenor2.JPG' %}"
                  width="155"
                />
                </p>
                <p>
                  <input type="radio" name="pregunta2" id="p31" /> <img
                  class="img-fluid rounded-circle"
                  src="{% static 'images/imgU3EAL/respuestafalmenor2.JPG' %}"
                  width="155"
                />
                </p>
                <p>
                  <input type="radio" name="pregunta2" id="p32" /> <img
                  class="img-fluid rounded-circle"
                  src="{% static 'images/imgU3EAL/respuestafalsmenor2.JPG' %}"
                  width="155"
                />
                </p>
                <p>
                  <input type="radio" name="pregunta2" id="p33" /> <img
                  class="img-fluid rounded-circle"
                  src="{% static 'images/imgU3EAL/respuestamenor2.JPG' %}"
                  width="155"
                />
                </p>
                <p>
                  <input
                    style="color: #e0e4e9; background-color: #0e0681"
                    type="button"
                    value=" R E S U L T A D O "
                    onclick="cofactor2()"
                  />
                </p>
              </form>
            </center>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
  </div>
{% endblock %}