{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<head>
    <link rel="stylesheet" href="{% static './css/main.css' %}" />
</head>
<a href="#Ecuación normal del círculo" class="btn btn-danger btn-lg">Ecuación normal del círculo</a>
<a href="#Centro y radio del círculo" class="btn btn-danger btn-lg">Centro y radio del círculo</a>
<a href="#(b/2)2 complementos cuadrados" class="btn btn-danger btn-lg">(b/2)2 complementos cuadrados</a>
<a href="#Ecuación del círculo con el centro del vértice de la perpendicular" class="btn btn-danger btn-lg">Ecuación del
    círculo con el centro del vértice de la perpendicular</a>
<div class="col-lg-12" id="Ecuación normal del círculo" style="margin: 50px 5px 5px 0px;">
    <h1>Ecuación normal del círculo</h1>
    <h2>Definición:</h2>
    <h3>
        La ecuación normal del círculo es una forma de representar un círculo en el plano cartesiano utilizando una
        ecuación matemática.
        Esta ecuación se escribe en la forma general:
        <center>
            <img class="img-fluid rounded-circle" width="300" src="{% static 'images/imgU1/circulo1.png' %}" />
        </center>
    </h3>
    <h3>Donde: </h3>
    <h3>• (a, b) es el centro del círculo.</h3>
    <h3>• r es el radio del círculo.</h3>
    <h3>
        <p>
            La ecuación normal del círculo se puede escribir en la forma de la ecuación general para un círculo:
            <center>
                <img class="img-fluid rounded-circle" width="300" src="{% static 'images/imgU1/circulo2.png' %}" />
            </center>
        </p>
        <h3>Donde: </h3>
        <h3>• r es un punto en la recta</h3>
        <h3>• D = -2a es el coeficiente de x.</h3>
        <h3>• E = -2b es el coeficiente de y.</h3>
        <h3>• F = a^2 + b^2 - r^2 es el término constante.</h3>
    </h3>
    <h3>
        <p>
            La ecuación normal del círculo es una forma útil de representar un círculo en una variedad de contextos matemáticos, como en la geometría analítica y la trigonometría.
            También se puede utilizar para resolver problemas de intersección y tangencia entre círculos y otros objetos en el plano cartesiano.
        </p>
    </h3>
    <h2>Ejemplo: </h2>
    <h3>Encuentra la ecuación normal del círculo con centro en el punto (2, -3) y radio 4.</h3>
    <h2>Solución: </h2>
    <h3>Usamos la fórmula general del círculo para encontrar la ecuación estándar: </h3>
    <center>
        <img class="img-fluid rounded-circle" width="750" src="{% static 'images/imgU1/circulo3.png' %}" />
    </center>
    <h3>Luego, para obtener la ecuación normal, despejamos y: </h3>
    <center>
        <img class="img-fluid rounded-circle" width="300" src="{% static 'images/imgU1/circulo4.png' %}" />
    </center>
    <h3>La ecuación normal del círculo es x: </h3>
    <center>
        <img class="img-fluid rounded-circle" width="300" src="{% static 'images/imgU1/circulo5.png' %}" />
    </center>

    <div class="col-lg-12" id="video">
        <h2>Video:</h2>
        <center>
            <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/jk9V5OkJlAg" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen></iframe>
        </center>
      </div>

</div>

<div class="col-lg-12" id="Centro y radio del círculo" style="margin: 50px 5px 5px 0px;">
    <h1>Centro y radio del círculo</h1>
    <h2>Definición:</h2>
    <h3>
        El centro y el radio son dos elementos clave que definen un círculo.
        El centro es el punto en el plano donde se encuentra el círculo, mientras que el radio es la distancia desde el centro hasta cualquier punto del círculo.
        <br>
        <h3>Dado que la ecuación normal del círculo es de la forma:</h3>
        <center>
            <img class="img-fluid rounded-circle" width="300" src="{% static 'images/imgU1/ecuacionCir.png' %}" />
        </center>
        <h3>Donde: </h3>
        <h3>(h, k) es el centro del círculo y r es su radio</h3>
        <br>
        <h3>Para encontrar el centro y el radio, es necesario despejar las variables h, k y r de la ecuación del círculo</h3>
        <h3>Despejando h y k, se obtiene:
            <br>
            h = x k = y
            </h3>
        <h3>Despejando r, se obtiene:</h3>
        <center>
            <img class="img-fluid rounded-circle" width="300" src="{% static 'images/imgU1/ecuacionCir2.png' %}" />
        </center>
        <h3>Luego, se pueden identificar el centro y el radio del círculo a partir de los valores de h, k y r obtenidos</h3>
        <h2>Ejemplo: </h2>
        <h3>Dada la ecuación del círculo: </h3>
        <center>
            <img class="img-fluid rounded-circle" width="300" src="{% static 'images/imgU1/ecuacionCir3.png' %}" />
        </center>

        <h3>
            Se puede observar que la ecuación está en la forma estándar del círculo.
            Entonces, se puede identificar el centro y el radio del círculo despejando las variables correspondientes:
            Centro:
        </h3>
        <h3>(h,k) = (2,-1)</h3>
        <h3>Radio: </h3>
        <h3>r = √9 = 3</h3>
        <h3><b>El Centro del círculo es (2,-1) y su radio es 3</b></h3>
    </h3>

    <div class="col-lg-12" id="video">
        <h2>Video:</h2>
        <center>
            <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/cNlq3-FOoCU" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen></iframe>
        </center>
      </div>

</div>

<div class="col-lg-12" id="(b/2)2 complementos cuadrados" style="margin: 50px 5px 5px 0px;">
    <h1>(b/2)2 complementos cuadrados</h1>
    <h2>Definición:</h2>
    <h3>
        La expresión  <img class="img-fluid rounded-circle" width="65" src="{% static 'images/imgU1/complementoCuadrados.png' %}" />
        complementos cuadrados se refiere a una expresión matemática utilizada para determinar la ecuación de una circunferencia dada su longitud (perímetro) y la distancia de su centro a uno de sus lados. 
        La fórmula se basa en el teorema de Pitágoras y la relación entre el radio de una circunferencia, su longitud y su diámetro.
    </h3>
    <h3>La fórmula se expresa de la siguiente manera: </h3>
    <center>
        <img class="img-fluid rounded-circle" width="300" src="{% static 'images/imgU1/complementoCuadrados3.png' %}" />
    </center>
    <h3>
        Donde b es la longitud de la circunferencia, r es el radio de la circunferencia, 
        y los complementos cuadrados son las distancias perpendiculares desde los extremos de un diámetro de la circunferencia hasta el centro
    </h3>
    <h2>Ejemplo: </h2>
    <h3>Dada una circunferencia con longitud 12 y con un diámetro cuya distancia al centro es de 3 unidades, encuentra su ecuación</h3>
    <h2>Solución: </h2>
    <h3>• Encontramos el radio utilizando la fórmula r = b / (2π), donde b es la longitud de la circunferencia: </h3>
    <h3 style="text-align: center;"><b>r = 12 / (2π) ≈ 1.9106</b></h3>
    <h3>• Utilizar la fórmula de complemento de cuadrados para encontrar la ecuación de la circunferencia:</h3>
    <center>
        <img class="img-fluid rounded-circle" width="300" src="{% static 'images/imgU1/complementoCuadrados4.png' %}" />
    </center>

    <div class="col-lg-12" id="video">
        <h2>Video:</h2>
        <center>
            <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/OlDd0DOQQ6k" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen></iframe>
        </center>
      </div>


</div>

<div class="col-lg-12" id="Ecuación del círculo con el centro del vértice de la perpendicular" style="margin: 50px 5px 5px 0px;">
    <h1>Ecuación del círculo con el centro del vértice de la perpendicular</h1>
    <h2>Definición:</h2>
    <h3>
        La ecuación del círculo con el centro del vértice de la perpendicular es una forma de encontrar la ecuación de un círculo si se conoce el centro y el punto donde el círculo es tangente a una recta. 
        El punto de tangencia es el vértice de la perpendicular que se traza desde el centro del círculo a la recta
    </h3>
    <h2>Ejemplo: </h2>
    <h3>
        Dado los puntos A (1, 2) y B (5, 4) y la línea r: y = 3x + 1, encontrar la ecuación del círculo con centro en el punto medio del segmento AB y que sea perpendicular a la línea r.
    </h3>
    <h2>Solución: </h2>
    <h3>• Encontramos el punto medio del segmento AB: Punto medio = ((1+5) /2, (2+4) /2) = (3, 3)</h3>
    <h3>• La pendiente de la línea r es 3, por lo tanto, la pendiente de la línea perpendicular será -1/3 (ya que el producto de las pendientes de dos líneas perpendiculares es -1)</h3>
    <h3>• La ecuación de la línea perpendicular que pasa por el punto medio (3, 3) es: y - 3 = (-1/3) (x - 3) y = (-1/3) x + 4</h3>
    <h3>• Utilizar la fórmula para la ecuación del círculo con centro en (h, k) y radio r: </h3>
    <img class="img-fluid rounded-circle" width="300" src="{% static 'images/imgU1/complementoCuadrados5.png' %}" />
    <h3>• Sustituyendo los valores de (h, k) = (3,3) obtenidos anteriormente y r = distancia entre el centro y uno de los puntos: </h3>
    <center>
        <img class="img-fluid rounded-circle" width="675" src="{% static 'images/imgU1/circuloPerpendicular1.png' %}" />
    </center>

    <div class="col-lg-12" id="video">
        <h2>Video:</h2>
        <center>
            <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/vQg3OSrR_Mw" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen></iframe>
        </center>
      </div>



</div>

{% endblock %}