{% extends 'base.html' %} {% load static %} {% block contenido %}
<head>
  <link rel="stylesheet" href="{% static './css/main.css' %}" />
</head>
<a href="#VectorR2" class="btn btn-danger btn-lg">Vector en R2</a>
<a href="#VectorR3" class="btn btn-danger btn-lg">Vector en R3</a>
<a href="#VectorUnitario" class="btn btn-danger btn-lg"
  >Vectores en Unitarios</a
>
<div class="col-lg-12" id="VectorR2">
  <h1>Vector en R2</h1>
  <h2>Definición:</h2>
  <h3>
    El conjunto de todos los vectores con dos elementos (ambos reales)
    <br />
    <br />
    En símbolos tenemos que:
  </h3>
  <center>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/vectordos1.JPG' %}"
      width="225"
    />
  </center>
  <h3>
    Existen dos propiedades importantes de los vectores R2:
    <br />
    <br />
    1. Suma de los vectores R2: Si p y q son dos vectores de la forma R2
    entonces
  </h3>
  <center>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/vectordos2.JPG' %}"
      width="550"
    />
  </center>
  <h3>
    2. Producto Escalar: Considere B? R y un vector P en R2, en este caso el
    producto escalar es de la forma
  </h3>
  <center>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/vectordos3.JPG' %}"
      width="280"
    />
  </center>
  <h3>
    Los vectores R2 también pueden ser divididos en dos componentes los cuales
    son perpendiculares entre sí. Estos componentes son generados con respecto
    al sistema de coordenadas el cual pueden ser de múltiples dimensiones:
  </h3>
  <center>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/vectordos4.JPG' %}"
      width="120"
    />
  </center>
  <h2>Ejemplos:</h2>
  <h2>Sumas y restas de vectores:</h2>
  <center>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/vectordos5.JPG' %}"
      width="105"
    />
  </center>
  <h3>Siendo:</h3>
  <center>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/vectordos6.JPG' %}"
      width="275"
    />
  </center>
  <h3>
    La suma se calcula sumando coordenada a coordenada. La resta, restando las
    coordenas.
  </h3>
  <left>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/vectordos7.JPG' %}"
      width="450"
    />
  </left>
  <h3>Representación:</h3>
  <center>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/vectordos8.JPG' %}"
      width="300"
    />
  </center>
  <left>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/vectordos9.JPG' %}"
      width="450"
    />
  </left>
  <h3>Representación:</h3>
  <center>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/vectordos10.JPG' %}"
      width="300"
    />
  </center>
  <left>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/vectordos11.JPG' %}"
      width="450"
    />
  </left>
  <center>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/vectordos12.JPG' %}"
      width="350"
      heigth="350"
    />
  </center>
  <h2>Productos de escalares por vectores:</h2>
  <center>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/vectordos13.JPG' %}"
      width="120"
    />
  </center>
  <h3>Siendo:</h3>
  <center>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/vectordos14.JPG' %}"
      width="275"
    />
  </center>
  <h3>Solucionando:</h3>
  <center>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/vectordos15.JPG' %}"
      width="450"
    />
  </center>
</div>
<div class="col-lg-12" id="VectorR3">
  <br />
  <br />
  <br />
  <br />
  <br />
  <h1>Vector en R3</h1>
  <h2>Definición:</h2>
  <h3>
    Queda establecido un sistema de coordenadas donde todo punto de R3 se define
    mediante una terna ordenada de números reales: P(x,y,z) y tiene asociado un
    vector posición p=OP=(x,y,z).
    <br />
    <br />
    Vectores en R3 posee las propiedades:
    <br />
    <br />
    1. Suma de vectores R3: Si p y q son dos vectores de la forma R3 entonces p
    + q = (p1,p2,p3) + (q1,q2,q3) = (p1 + q1,p2 + q2,q3 + p3)
    <br />
    <br />
    2. Producto Escalar: Considere B R y el vector P en R3, en este caso el
    producto escalar es de la forma B (p1,p2,p3) = (Bp1,Bp2,Bp3).
  </h3>
  <center>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/vectortres1.JPG' %}"
      width="600"
    />
  </center>
  <h2>Ejemplos:</h2>
  <h2>Productos de escalares por vectores:</h2>
  <center>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/vectortres2.JPG' %}"
      width="500"
    />
  </center>
  <h2>Sumas y restas de vectores:</h2>
  <center>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/vectortres3.JPG' %}"
      width="125"
    />
  </center>
  <center>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/vectortres4.JPG' %}"
      width="550"
    />
  </center>
</div>
<div class="col-lg-12" id="VectorUnitario">
  <br />
  <br />
  <br />
  <br />
  <br />
  <h1>Vectores en Unitarios</h1>
  <h2>Definición:</h2>
  <h3>
    Se trata de un vector de módulo = 1. En ciertas ocasiones, a los vectores
    unitarios también se les da el nombre de vector normalizado. En suma,
    podemos decir que un vector de tipo unitario es todo vector de módulo igual
    a uno (1). Por ende, coincide con la unidad de medida que se usa para
    entender la magnitud del vector.
  </h3>
  <h2>Cálculo de vector unitario:</h2>
  <h3>
    Para encontrar este tipo de vectores consiste en dividir un vector por su
    módulo. Si dividimos un vector por sí mismo, tendremos un vector unitario.
    Buscamos un vector cuya dirección y sentido sean iguales a originales; pero
    con valor de módulo igual a uno. Por lo tanto, es menester dividir el vector
    por su valor absoluto o escalar. Esto se expresa de la siguiente manera:
  </h3>
  <center>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/unitario1.JPG' %}"
      width="225"
    />
  </center>
  <h2>Ejemplo:</h2>
  <h3>Teniendo a:</h3>
  <center>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/unitario2.JPG' %}"
      width="125"
    />
  </center>
  <h3>Para hallar un vector unitario de su misma dirección y sentido se realiza:</h3>
  <center>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/unitario3.JPG' %}"
      width="525"
    />
  </center>
  <h3>Entonces la solución es:</h3>
  <center>
    <img
      class="img-fluid rounded-circle"
      src="{% static 'images/imgU4AL/unitario4.JPG' %}"
      width="275"
    />
  </center>
</div>
{% endblock %}
