{% extends 'base.html' %} {% load static %} {% block contenido %}
<head>
  <link rel="stylesheet" href="{% static './css/main.css' %}" />
  <script src="https://cdn.jsdelivr.net/npm/sweetswal2@10"></script>
  <script>
    function resultadodosi1() {
      if (document.getElementById("p11").checked == true) {
        p1 = 1;
      } else {
        p1 = 0;
      }
      nota = p1;

      if (p1 == 1) {
        swal(" CORRECTO");
      } else {
        swal(" RESPUESTA INCORRECTA");
      }
    }
    function resultadodosi2() {
      if (document.getElementById("p16").checked == true) {
        p1 = 1;
      } else {
        p1 = 0;
      }
      nota = p1;

      if (p1 == 1) {
        swal(" CORRECTO");
      } else {
        swal(" RESPUESTA INCORRECTA");
      }
    }
  </script>
</head>
  <div class="col-lg-12" id="ProblemasPrimerGrado">
    <br />
    <br />
    <h1>Sistemas numéricos con dos incógnitas</h1>
    <br />
    <br />
  
    <h2>Ejercicios</h2>
  
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <center>
              <img
                class="img-fluid rounded-circle"
                src="{% static 'images/imgU2EAL/ejerciciosistemadosi1.JPG' %}"
                width="450"
              />
              <br>
              <br>
              <form style="font: normal 16px sans-serif">
                <p>Selecciona la Respuesta Correcta</p>
                <p>
                  <input type="radio" name="pregunta1" id="p9" /> x=1 , y=25
                </p>
                <p>
                  <input type="radio" name="pregunta1" id="p10" /> x=10 , y=3
                </p>
                <p>
                  <input type="radio" name="pregunta1" id="p11" /> x=14 , y=5
                </p>
                <p>
                  <input type="radio" name="pregunta1" id="p12" /> x=2 , y=5
                </p>
                <p>
                  <input
                    style="color: #e0e4e9; background-color: #0e0681"
                    type="button"
                    value=" R E S U L T A D O "
                    onclick="resultadodosi1()"
                  />
                </p>
              </form>
            </center>
          </div>
        </div>
      </div>
  
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <br>
            <center>
              <img
                class="img-fluid rounded-circle"
                src="{% static 'images/imgU2EAL/ejerciciosistemadosi2.JPG' %}"
                width="450"
              />
              <br>
              <br>
              <form style="font: normal 16px sans-serif">
                <p>Selecciona la Respuesta Correcta</p>
                <p>
                  <input type="radio" name="pregunta2" id="p13" /> x=2  y=15
                </p>
                <p>
                  <input type="radio" name="pregunta2" id="p14" /> x=4 , y=10
                </p>
                <p>
                  <input type="radio" name="pregunta2" id="p15" /> x=12 , y=0
                </p>
                <p>
                  <input type="radio" name="pregunta2" id="p16" /> x=2 , y=5
                </p>
                <p>
                  <input
                    style="color: #e0e4e9; background-color: #0e0681"
                    type="button"
                    value=" R E S U L T A D O "
                    onclick="resultadodosi2()"
                  />
                </p>
              </form>
            </center>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
  </div>
{% endblock %}