{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<head>
  <link rel="stylesheet" href="{% static './css/main.css' %}" />
  <script src="https://cdn.jsdelivr.net/npm/sweetswal2@10"></script>
  <script>

    function resultadoFormaP1() {
            var respuestaCorrecta = 'R3';
            var seleccionado = document.querySelector('input[name="R3"]:checked');
            let formPuntoP1 = document.getElementById("formPuntoP1");

            if (seleccionado && seleccionado.id === respuestaCorrecta) {
                swal("CORRECTO");
                seleccionado.checked = false; // Desseleccionar la opción seleccionada
            } else {
                for (let index = 0; index < formPuntoP1.childElementCount - 1; index++) {
                    if (formPuntoP1.children[index].firstElementChild) {
                      formPuntoP1.children[index].firstElementChild.checked = false;
                    }
                }
                swal("RESPUESTA INCORRECTA");
            }
        }


    function resultadoFormaP2() {
            var respuestaCorrecta = 'R1';
            var seleccionado = document.querySelector('input[name="R1"]:checked');
            let formPuntoP2  = document.getElementById("formPuntoP2");

            if (seleccionado && seleccionado.id === respuestaCorrecta) {
                swal("CORRECTO");
                seleccionado.checked = false; // Desseleccionar la opción seleccionada
            } else {
                for (let index = 0; index < formPuntoP2.childElementCount - 1; index++) {
                    if (formPuntoP2.children[index].firstElementChild) {
                        formPuntoP2.children[index].firstElementChild.checked = false;
                    }
                }
                swal("RESPUESTA INCORRECTA");
            }
        }

  </script>

</head>


<div>
    <h1>Forma de punto y pendiente de una ecuación</h1>
    <br>
    <br>
    <h2>Ejercicios</h2>

    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <center>
                <img class="img-fluid rounded-circle" src="{% static 'images/imgU1/formaE1.png' %}" width="480" />
                <form id = "formPuntoP1" style="font:normal 16px sans-serif">
                  <p>Selecciona la Respuesta Correcta</p>
                  <p>
                    <input type="radio" name="R1" id="R1" /> <img class="img-fluid rounded-circle"
                      src="{% static 'images/imgU1/fE2.png' %}" width="90" />
                  </p>
                  <p>
                    <input type="radio" name="R2" id="R2" /> <img class="img-fluid rounded-circle"
                      src="{% static 'images/imgU1/fE3.png' %}" width="90" />
                  </p>
                  <p>
                    <input type="radio" name="R3" id="R3" /> <img class="img-fluid rounded-circle"
                      src="{% static 'images/imgU1/fE1.png' %}" width="90" />
                  </p>
                  <p><input style="color: #e0e4e9; background-color: #0e0681" type="button" value=" R E S U L T A D O " onclick='resultadoFormaP1()' /></p>
                </form>
              </center>
          </div>
        </div>
      </div>


    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <center>
                        <img class="img-fluid rounded-circle" src="{% static 'images/imgU1/formaE2.png' %}" width="480" />
                        <form id = "formPuntoP2" style="font:normal 16px sans-serif">
                          <p>Selecciona la Respuesta Correcta</p>
                          <p>
                            <input type="radio" name="R1" id="R1" /> <img class="img-fluid rounded-circle"
                              src="{% static 'images/imgU1/fE4.png' %}" width="100" />
                          </p>
                          <p>
                            <input type="radio" name="R2" id="R2" /> <img class="img-fluid rounded-circle"
                              src="{% static 'images/imgU1/fE5.png' %}" width="90" />
                          </p>
                          <p>
                            <input type="radio" name="R3" id="R3" /> <img class="img-fluid rounded-circle"
                              src="{% static 'images/imgU1/fE6.png' %}" width="90" />
                          </p>
                          <p><input style="color: #e0e4e9; background-color: #0e0681" type="button" value=" R E S U L T A D O " onclick='resultadoFormaP2() ' /></p>
                        </form>
                      </center>
                </div>
            </div>
        </div>

  </div>
  <br />
  <br />
  <br />
  <br />
</div>

    {% endblock %}