{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<head>
    <link rel="stylesheet" href="{% static './css/main.css' %}" />
    <script>
        function resultado() {
            if (document.getElementById('p11').checked == true) { p1 = 1 }
            else { p1 = 0 }
            nota = p1;

            if (p1 == 1) {
                alert(" CORRECTO");
            }
            else {
                alert(" RESPUESTA INCORRECTA");
            }
            location.reload();
        }

        function sumados() {
            if (document.getElementById('p3').checked == true) { p1 = 1 }
            else { p1 = 0 }
            nota = p1;

            if (p1 == 1) {
                alert(" CORRECTO");
            }
            else {
                alert(" RESPUESTA INCORRECTA");
            }
            location.reload();
        }

    </script>


</head>
<a href="#SumaF" class="btn btn-danger btn-lg">Adición</a>
<a href="#RestaF" class="btn btn-danger btn-lg">Sustracción</a>
<a href="#MultiplicacionF" class="btn btn-danger btn-lg">Multiplicación</a>
<a href="#DivisionF" class="btn btn-danger btn-lg">División</a>

<div class="col-lg-12" id="SumaF">
    <h1>Adición de Fracciones</h1>
    <br>
    <br>

    <h2>Ejercicios</h2>

    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
                <center>
                <img class="img-fluid rounded-circle" src="{% static 'images/imgU1/E1.JPG' %}" />
                <form style="font:normal 16px sans-serif">
                    <p>Selecciona la Respuesta Correcta</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta1" id="p11"> 8/3</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta1" id="p12"> 3/8</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta1" id="p13"> 4/3</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta1" id="p14"> 6/2</p>
                    <p><input style="color: #e0e4e9; background-color: #0e0681" type="button" value=" R E S U L T A D O " onclick='resultado()' /></p>
                </form>
                </center>
            </div>
          </div>
        </div>


        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <center>
                <img class="img-fluid rounded-circle" src="{% static 'images/imgU1/E2.JPG' %}" />
                <form style="font:normal 16px sans-serif">
                    <p>Selecciona la Respuesta Correcta</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta2" id="p1"> 12/11</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta2" id="p2"> 9/8</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta2" id="p3"> 11/1</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta2" id="p4"> 3/2</p>
                    <p><input style="color: #e0e4e9; background-color: #0e0681" type="button"   value=" R E S U L T A D O " onclick='sumados()' /></p>
                </form>
              </center>
            </div>
          </div>
        </div>
      </div>

</div>


<div class="col-lg-12" id="RestaF">
    <br />
    <br />
    <h1>Sustracción de Fracciones</h1>
    <br>
    <br>

    <h2>Ejercicios</h2>

    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
                <center>
                <img class="img-fluid rounded-circle" src="{% static 'images/imgU1/E1.JPG' %}" />
                <form style="font:normal 16px sans-serif">
                    <p>Selecciona la Respuesta Correcta</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta1" id="p11"> 8/3</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta1" id="p12"> 3/8</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta1" id="p13"> 4/3</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta1" id="p14"> 6/2</p>
                    <p><input style="color: #e0e4e9; background-color: #0e0681" type="button" value=" R E S U L T A D O " onclick='resultado()' /></p>
                </form>
                </center>
            </div>
          </div>
        </div>


        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <center>
                <img class="img-fluid rounded-circle" src="{% static 'images/imgU1/E2.JPG' %}" />
                <form style="font:normal 16px sans-serif">
                    <p>Selecciona la Respuesta Correcta</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta2" id="p1"> 12/11</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta2" id="p2"> 9/8</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta2" id="p3"> 11/1</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta2" id="p4"> 3/2</p>
                    <p><input style="color: #e0e4e9; background-color: #0e0681" type="button"   value=" R E S U L T A D O " onclick='sumados()' /></p>
                </form>
              </center>
            </div>
          </div>
        </div>
      </div>
</div>


<div class="col-lg-12" id="MultiplicacionF">
    <br />
    <br />
    <h1>Multiplicación de Fracciones</h1>
    <br>
    <br>

    <h2>Ejercicios</h2>

    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
                <center>
                <img class="img-fluid rounded-circle" src="{% static 'images/imgU1/E1.JPG' %}" />
                <form style="font:normal 16px sans-serif">
                    <p>Selecciona la Respuesta Correcta</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta1" id="p11"> 8/3</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta1" id="p12"> 3/8</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta1" id="p13"> 4/3</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta1" id="p14"> 6/2</p>
                    <p><input style="color: #e0e4e9; background-color: #0e0681" type="button" value=" R E S U L T A D O " onclick='resultado()' /></p>
                </form>
                </center>
            </div>
          </div>
        </div>


        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <center>
                <img class="img-fluid rounded-circle" src="{% static 'images/imgU1/E2.JPG' %}" />
                <form style="font:normal 16px sans-serif">
                    <p>Selecciona la Respuesta Correcta</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta2" id="p1"> 12/11</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta2" id="p2"> 9/8</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta2" id="p3"> 11/1</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta2" id="p4"> 3/2</p>
                    <p><input style="color: #e0e4e9; background-color: #0e0681" type="button"   value=" R E S U L T A D O " onclick='sumados()' /></p>
                </form>
              </center>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="col-lg-12" id="DivisionF">
    <br />

    <br />
    <h1>División de Fracciones</h1>
    <h2>Ejercicios</h2>

    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
                <center>
                <img class="img-fluid rounded-circle" src="{% static 'images/imgU1/E1.JPG' %}" />
                <form style="font:normal 16px sans-serif">
                    <p>Selecciona la Respuesta Correcta</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta1" id="p11"> 8/3</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta1" id="p12"> 3/8</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta1" id="p13"> 4/3</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta1" id="p14"> 6/2</p>
                    <p><input style="color: #e0e4e9; background-color: #0e0681" type="button" value=" R E S U L T A D O " onclick='resultado()' /></p>
                </form>
                </center>
            </div>
          </div>
        </div>


        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <center>
                <img class="img-fluid rounded-circle" src="{% static 'images/imgU1/E2.JPG' %}" />
                <form style="font:normal 16px sans-serif">
                    <p>Selecciona la Respuesta Correcta</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta2" id="p1"> 12/11</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta2" id="p2"> 9/8</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta2" id="p3"> 11/1</p>
                    <p onclick="this.style.color='#FF0000'"><input type="radio" name="pregunta2" id="p4"> 3/2</p>
                    <p><input style="color: #e0e4e9; background-color: #0e0681" type="button"   value=" R E S U L T A D O " onclick='sumados()' /></p>
                </form>
              </center>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}