{% extends 'base.html' %} 
{% load static %}
{% block contenido %}

<!-- home -->
    <!-- Content page -->
    <div class="container-fluid">
        <div class="page-header">
          <h1 class="text-titles">Matemática II<small> Quinto Bachillerato Industrial, Perito En Dibujo De Construcción Y Perito Con Especialidad En Computación </small></h1>
        </div>
    </div>

    <div class="full-box text-center" style="padding: 30px 30px;">
        <div class="list-groupUnidad" >
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
              UNIDAD I
            </a>
            <a href="{% url 'MatematicaII:ecuacionesapp'%}" class="list-group-item list-group-item-action">Ecuaciones</a>
            <a href="{% url 'MatematicaII:ecuacionesSimultaneasapp'%}" class="list-group-item list-group-item-action">Ecuaciones simultaneas con dos incógnitas</a>
            <a href="{% url 'MatematicaII:ecuacionesapp'%}" class="list-group-item list-group-item-action disabled">Ecuaciones equivalentes</a>
            <a href="{% url 'MatematicaII:ecuacionesapp'%}" class="list-group-item list-group-item-action disabled">Eliminación por igualación</a>
            <a href="{% url 'MatematicaII:ecuacionesapp'%}" class="list-group-item list-group-item-action disabled">Eliminación por sustitución</a>
            <a href="{% url 'MatematicaII:ecuacionesapp'%}" class="list-group-item list-group-item-action disabled">Método de reducción</a>
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
              UNIDAD II
            </a>
            <a href="{% url 'MatematicaII:planoCartesianoapp'%}" class="list-group-item list-group-item-action">Plano cartesiano</a>
            <a href="{% url 'MatematicaII:distanciaapp'%}" class="list-group-item list-group-item-action">Distancia</a>
            <a href="{% url 'MatematicaII:puntoMedioapp'%}" class="list-group-item list-group-item-action">Punto Medio</a>
            <a href="{% url 'MatematicaII:pendienteapp'%}" class="list-group-item list-group-item-action">Pendiente</a>
            <a href="{% url 'MatematicaII:graficaFuncionesapp'%}" class="list-group-item list-group-item-action">Graficas de funciones</a>
            <a href="{% url 'MatematicaII:puntoPendienteapp'%}" class="list-group-item list-group-item-action">Forma de punto y pendiente de una ecuación</a>
            <a href="{% url 'MatematicaII:funcionesLinealesyCapp'%}" class="list-group-item list-group-item-action">Funciones lineles y cuadraticas</a>
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
              UNIDAD III
            </a>
            <a href="{% url 'MatematicaII:teoremaRectasapp'%}" class="list-group-item list-group-item-action">Teorema sobre rectas</a>
            <a class="list-group-item list-group-item-action disabled">Teorema de rectas paralelas</a>
            <a class="list-group-item list-group-item-action disabled">Teorema de rectas perpendiculares</a>
            <a class="list-group-item list-group-item-action disabled">Combinación de rectas paralelas con distancia y punto medio</a>
            <a class="list-group-item list-group-item-action disabled">Combinación de rectas perpendiculares con distancia y punto medio</a>
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
              UNIDAD IV
            </a>
            <a href="{% url 'MatematicaII:ecuacionesCirculosapp'%}" class="list-group-item list-group-item-action">Ecuaciones sobre círculos</a>
            <a class="list-group-item list-group-item-action disabled">Ecuación normal del círculo</a>
            <a class="list-group-item list-group-item-action disabled">Centro y radio del círculo</a>
            <a class="list-group-item list-group-item-action disabled">(b/2)2 complementos cuadrados</a>
            <a class="list-group-item list-group-item-action disabled">Ecuación del círculo con el centro del vértice de la perpendicular</a>
          </div>
    </div>


{% endblock %}