{% extends 'base.html' %} 
{% load static %}
{% block contenido %}

<!-- home -->
    <!-- Content page -->
    <div class="container-fluid">
        <div class="page-header">
          <h1 class="text-titles">Matemática Comercial <small>   Cuarto Perito Contador y Secretariado Oficinista</small> </h1> 
        </div>
    </div>

    <div class="full-box text-center" style="padding: 30px 30px;">
        <div class="list-groupUnidad" >
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
              UNIDAD I
            </a>
            <a class="list-group-item list-group-item-action disabled">Números Racionales</a>
            <a href="{% url 'AlgebraLineal:fraccionesapp'%}" class="list-group-item list-group-item-action">Fracciones</a>
            <a class="list-group-item list-group-item-action">Operaciones Con Fracciones</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Adición</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Sustracción</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Multiplicación</a>
            <a href="#" class="list-group-item list-group-item-action disabled">División</a>
            
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
              UNIDAD II
            </a>
            <a class="list-group-item list-group-item-action disabled">Proporcionalidad</a>
            <a href="#" class="list-group-item list-group-item-action">Razón Numérica</a>
            <a href="#" class="list-group-item list-group-item-action">Razones Equivalentes</a>
            <a href="#" class="list-group-item list-group-item-action">Proporción</a>
            <a href="#" class="list-group-item list-group-item-action">Proporcionalidad Directa e Inversa</a>

            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
              UNIDAD III
            </a>
            <a class="list-group-item list-group-item-action disabled">Regla de Sociedades</a>
            <a href="#" class="list-group-item list-group-item-action">Regla de sociedades: simple, compuesta y en la que alteran los capitales</a>
            <a class="list-group-item list-group-item-action disabled">Aligación</a>
            <a href="#" class="list-group-item list-group-item-action">Aligación Directa</a>
            <a href="#" class="list-group-item list-group-item-action">Aligación Inversa</a>
            <a class="list-group-item list-group-item-action disabled">Aleaciones</a>
            <a href="#" class="list-group-item list-group-item-action">Metal Fino</a>
            <a href="#" class="list-group-item list-group-item-action">Leyes de los Metales</a>
            <a href="#" class="list-group-item list-group-item-action">Leyes de alineación</a>
            <a href="#" class="list-group-item list-group-item-action">Leyes de metales finos expresados en quintales</a>

            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
              UNIDAD IV
            </a>
            <a class="list-group-item list-group-item-action disabled">Tanto por Ciento</a>
            <a href="#" class="list-group-item list-group-item-action">Operaciones Básicas</a>
            <a href="#" class="list-group-item list-group-item-action">Conversión del porcentaje a fracción común</a>
            <a href="#" class="list-group-item list-group-item-action">Conversión de un decimal a un número entero por ciento</a>
            <a href="#" class="list-group-item list-group-item-action">Conversión de fracción común a un porcentaje</a>
            <a href="#" class="list-group-item list-group-item-action">Tanto por ciento más</a>
            <a href="#" class="list-group-item list-group-item-action">Tanto por ciento menos</a>
         
          </div>
    </div>


{% endblock %}