{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="{% static './css/main.css' %}">
</head>

<body>
	<!-- SideBar -->
	<section class="full-box cover dashboard-sideBar">
		<div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
		<div class="full-box dashboard-sideBar-ct">
			<!--SideBar Title -->
			<div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
				MATEMÁTICAS <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
			</div>
			<!-- SideBar User info -->
			<div class="full-box dashboard-sideBar-UserInfo">
				<figure class="full-box">
					<img src="{% static './assets/icons/logo.png' %}" alt="UserIcon">
					<figcaption class="text-center text-titles">
						<br>
						{{user.username}}
					</figcaption>
				</figure>
				<ul class="full-box list-unstyled text-center">
					<li>
						<a href="{%url 'login:logoutapp'%}">
							<i class="zmdi zmdi-power"></i>
						</a>
					</li>
				</ul>
			</div>
			<!-- SideBar Menu -->
			<ul class="list-unstyled full-box dashboard-sideBar-Menu">
				<li>
					<a href="{%url 'login:homeapp' %}">
						<i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Dashboard
					</a>
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-book zmdi-hc-fw"></i> Material Didáctico <i
							class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">

						{% for group in request.user.groups.all %}
						{% if group.name == '4PeritoContador' or group.name == '4Secretariado'  or group.name == 'Docente' %}
						<li>
							<a href="{%url 'matecomercial:macomercialapp' %}"><i
									class="zmdi zmdi-file-text zmdi-hc-fw"></i> Matemática Comercial</a>
						</li>
						{% endif %}
						{% endfor %}

						{% for group in request.user.groups.all %}
						{% if group.name == '4PeritoMecanica' or group.name == '4BachIndustrial'  or group.name == '4PeritoComputacion' or group.name == 'Docente' %}
						<li>
							<a href="{%url 'matematicaI:matematicaIapp' %}"><i
									class="zmdi zmdi-file-text zmdi-hc-fw"></i> Matemática I</a>
						</li>
						{% endif %}
						{% endfor %}


						{% for group in request.user.groups.all %}
						{% if group.name == '5BachIndustrial' or group.name == '5PeritoComputacion'  or group.name == 'Docente' %}
						<li>
							<a href="{%url 'MatematicaII:matematicaiiapp' %}"><i
									class="zmdi zmdi-file-text zmdi-hc-fw"></i> Matemática II</a>
						</li>
						{% endif %}
						{% endfor %}


						{% for group in request.user.groups.all %}
						{% if group.name == '6BachIndustrial' or group.name == '6PeritoComputacion' or group.name == '6PeritoMecanica'  or group.name == 'Docente' %}
						<li>
							<a href="{%url 'MatematicaIII:matematicaIIIapp' %}"><i
									class="zmdi zmdi-file-text zmdi-hc-fw"></i> Matemática III</a>
						</li>
						{% endif %}
						{% endfor %}


						{% for group in request.user.groups.all %}
						{% if group.name == '5PeritoComputacion'  or group.name == 'Docente' %}
						<li>
							<a href="{%url 'AlgebraLineal:algebralinealapp' %}"><i
									class="zmdi zmdi-file-text zmdi-hc-fw"></i> Algebra Lineal</a>
						</li>
						{% endif %}
						{% endfor %}

					</ul>
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-edit zmdi-hc-fw"></i> Ejercicios <i
							class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">

						{% for group in request.user.groups.all %}
						{% if group.name == '4PeritoContador' or group.name == '4Secretariado'  or group.name == 'Docente' %}
						<li>
							<a href="{%url 'matecomercial:macomercialEjapp' %}"><i
									class="zmdi zmdi-assignment-check zmdi-hc-fw"></i> Matemática Comercial</a>
						</li>
						{% endif %}
						{% endfor %}


						{% for group in request.user.groups.all %}
						{% if group.name == '4PeritoMecanica' or group.name == '4BachIndustrial'  or group.name == '4PeritoComputacion' or group.name == 'Docente' %}
						<li>
							<a href="{%url 'matematicaI:matematicaejerIapp' %}"><i
									class="zmdi zmdi-assignment-check zmdi-hc-fw"></i> Matemática I</a>
						</li>
						{% endif %}
						{% endfor %}


						{% for group in request.user.groups.all %}
						{% if group.name == '5BachIndustrial' or group.name == '5PeritoComputacion'  or group.name == 'Docente' %}
						<li>
							<a href="{%url 'MatematicaII:matematicaIIEjerciciosapp' %}"><i
									class="zmdi zmdi-assignment-check zmdi-hc-fw"></i> Matemática II</a>
						</li>
						{% endif %}
						{% endfor %}


						{% for group in request.user.groups.all %}
						{% if group.name == '6BachIndustrial' or group.name == '6PeritoComputacion' or group.name == '6PeritoMecanica'  or group.name == 'Docente' %}
						<li>
							<a href="{%url 'MatematicaIII:matematicaIIIEjapp' %}"><i
									class="zmdi zmdi-assignment-check zmdi-hc-fw"></i> Matemática III</a>
						</li>
						{% endif %}
						{% endfor %}


						{% for group in request.user.groups.all %}
						{% if group.name == '5PeritoComputacion'  or group.name == 'Docente' %}
						<li>
							<a href="{%url 'AlgebraLineal:algebralinealEjapp' %}"><i
									class="zmdi zmdi-assignment-check zmdi-hc-fw"></i> Algebra Lineal</a>
						</li>
						{% endif %}
						{% endfor %}

					</ul>
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-wrench zmdi-hc-fw"></i> Herramientas <i
							class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="{%url 'calculadora:calculadoraapp' %}"><i class="zmdi zmdi-dialpad zmdi-hc-fw"></i>
								Calculadora </a>
						</li>
						<li>
							<a href="{%url 'calculadora:herramientasaapp' %}"><i
									class="zmdi zmdi-settings-square zmdi-hc-fw"></i> Otras Herramientas </a>
						</li>

					</ul>
				</li>
			</ul>
		</div>
	</section>


	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="https://drive.google.com/drive/folders/1dU2FUdDt0um2KhBgTlrH1Bw6wOHdJNQ6"  target="_blank"  class="btn-modal-help">
						<i class="zmdi zmdi-help-outline"></i>
					</a>
				</li>
			</ul>
		</nav>

		{% block contenido %}
		{% endblock %}

	</section>




	<!-- Notifications area -->
	<section class="full-box Notifications-area">
		<div class="full-box Notifications-bg btn-Notifications-area"></div>
		<div class="full-box Notifications-body">
			<div class="Notifications-body-title text-titles text-center">
				Notifications <i class="zmdi zmdi-close btn-Notifications-area"></i>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<div class="row-action-primary">
						<i class="zmdi zmdi-alert-triangle"></i>
					</div>
					<div class="row-content">
						<div class="least-content">17m</div>
						<h4 class="list-group-item-heading">Tile with a label</h4>
						<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
					</div>
				</div>
				<div class="list-group-separator"></div>
				<div class="list-group-item">
					<div class="row-action-primary">
						<i class="zmdi zmdi-alert-octagon"></i>
					</div>
					<div class="row-content">
						<div class="least-content">15m</div>
						<h4 class="list-group-item-heading">Tile with a label</h4>
						<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
					</div>
				</div>
				<div class="list-group-separator"></div>
				<div class="list-group-item">
					<div class="row-action-primary">
						<i class="zmdi zmdi-help"></i>
					</div>
					<div class="row-content">
						<div class="least-content">10m</div>
						<h4 class="list-group-item-heading">Tile with a label</h4>
						<p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
					</div>
				</div>
				<div class="list-group-separator"></div>
				<div class="list-group-item">
					<div class="row-action-primary">
						<i class="zmdi zmdi-info"></i>
					</div>
					<div class="row-content">
						<div class="least-content">8m</div>
						<h4 class="list-group-item-heading">Tile with a label</h4>
						<p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
					</div>
				</div>
			</div>

		</div>
	</section>

	<!--====== Scripts -->
	<script src="{% static './js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static './js/sweetalert2.min.js' %}"></script>
	<script src="{% static './js/bootstrap.min.js' %}"></script>
	<script src="{% static './js/material.min.js' %}"></script>
	<script src="{% static './js/ripples.min.js' %}"></script>
	<script src="{% static './js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
	<script src="{% static './js/main.js' %}"></script>
	<script>
		$.material.init();
	</script>
</body>

</html>