{% extends 'base.html' %} 
{% load static %}
{% block contenido %}

<!-- home -->
    </nav>
    <!-- Content page -->
    <div class="container-fluid">
        <div class="page-header">
          <h1 class="text-titles">Colegio Cristiano Generación del Tercer Milenio<small>     Bienvenidos</small></h1>
        </div>
    </div>

    <div class="full-box text-center" style="padding: 30px 10px;">
        <article class="full-box tile">
            <div class="full-box tile-title text-center text-titles text-uppercase">
                MISIÓN
            </div>
            <div id="letrashome" class=""><br><br><br>
               Somos una institución educativa, que cuenta con una organización
                    encaminada a generar oportunidades de enseñanza-apredizaje, orientada a generar resultados,
                    formando profesionales con criterio analítico-reflexivo, democrático y capaces
                    de sobresalir en la sociedad.
            </div>
        </article>
        <article class="full-box tile">
            <div class="full-box tile-title text-center text-titles text-uppercase">
                VISIÓN
            </div>
            <div id="letrashome" class=""><br><br>
                El Colegio Cristiano Generación del Tercer Milenio, con mira al futuro y a las
                necesidades imperantes de nuestra sociedad esquipulense, pretende formar
                profesionales con carácter, con actitud dispuesta a aprender por sí mismos,
                y con amor a su patria Guatemala, que se sientan identificados con ella; con
                valores éticos, morales y espirituales y con seguridad de sí mismos.
            </div>
        </article>
        
    </div>


{% endblock %}