{% extends 'base.html' %} 
{% load static %}
{% block contenido %}

<!-- home -->
    </nav>
    <!-- Content page -->
    <div class="container-fluid">
        <div class="page-header">
          <h1 class="text-titles">Colegio Cristiano Generación del Tercer Milenio<small>     Bienvenidos</small></h1>
        </div>
    </div>
    <div class="full-box text-center" style="padding: 30px 10px;">
        <article class="full-box tile">
            <div class="full-box tile-title text-center text-titles text-uppercase">
                MISION
            </div>
            <div class="full-box tile-icon text-center">
                
            </div>
        </article>
        <article class="full-box tile">
            <div class="full-box tile-title text-center text-titles text-uppercase">
                VISION
            </div>
            <div class="full-box tile-icon text-center">
                
            </div>
        </article>
        
    </div>


{% endblock %}