{% extends 'base.html' %} 
{% load static %} 
{% block contenido %}
<head>
  <link rel="stylesheet" href="{% static './css/main.css' %}" />
</head>

<div class="col-lg-12" id="">
  <h1>Regla de Sociedades </h1>
  <center>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/_azb9yI7KRY" title="YouTube video player" 
  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</center>
  <br>
  <br>
</div>


{% endblock %}
